Source: vboard
Section: utils
Priority: optional
Maintainer: Archisman Panigrahi <apandada1@gmail.com>
Build-Depends: debhelper-compat (= 13),
 dh-python,
 meson,
 ninja-build,
 pkg-config,
 python3,
 python3-gi,
 gir1.2-gtk-3.0
Standards-Version: 4.7.0
Homepage: https://github.com/archisman-panigrahi/vboard

Package: vboard
Architecture: all
Depends: ${misc:Depends},
 ${python3:Depends},
 python3-gi-cairo,
 python3-gi,
 gir1.2-gtk-3.0,
 gir1.2-gtklayershell-0.1,
 libxkbcommon0,
 python3-uinput
Recommends: hunspell-en-us, gir1.2-ayatanaappindicator3-0.1 | gir1.2-appindicator3-0.1, plasma-keyboard
Description: Wayland virtual keyboard for GNU/Linux with modifier key support
 Vboard is a lightweight, customizable on-screen keyboard designed for Linux systems with Wayland support.
 It includes modifier keys such as Ctrl, Alt, Tab and Super (Meta/Win) for desktop shortcuts and normal keyboard workflows.
